http:
  routers:
    api:
      rule: 'Host(`api.quvel.${LOCAL_IP}.nip.io`) || Host(`api.quvel-two.${LOCAL_IP}.nip.io`)${API_TENANT_DOMAINS}'
      entryPoints: websecure
      service: api
      tls: {}

  services:
    api:
      loadBalancer:
        servers:
          - url: '${BACKEND_TARGET}'